html, body {
    height: 100%;
    width: 100%;
}

.background {
    background-color: #22313F;
    height: 100%;
    display: table;
    position: absolute;
}

.login-form {
    display: table-cell;
    vertical-align: middle;
}

#card {
    margin-top: 20vh;
}